<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>urlFilter</filter-name>
        <filter-class>wzy.com.UrlFilter</filter-class>
        <init-param>
            <param-name>DEFAULT_URI_ENCODE</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>urlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>action.userLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/userLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>acti</servlet-name>
        <servlet-class>action.ActiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>acti</servlet-name>
        <url-pattern>/actiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>enter</servlet-name>
        <servlet-class>action.EnterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enter</servlet-name>
        <url-pattern>/entertable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manacom</servlet-name>
        <servlet-class>action.ManaOrgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manacom</servlet-name>
        <url-pattern>/manacom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>noti</servlet-name>
        <servlet-class>action.NotiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>noti</servlet-name>
        <url-pattern>/notiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManComUser</servlet-name>
        <servlet-class>action.ManaComUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManComUser</servlet-name>
        <url-pattern>/ManaComUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>recmana</servlet-name>
        <servlet-class>action.RecServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>recmana</servlet-name>
        <url-pattern>/recMana</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>agree</servlet-name>
        <servlet-class>action.AgreeEnterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agree</servlet-name>
        <url-pattern>/agreeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createEnter</servlet-name>
        <servlet-class>action.CreateEnterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createEnter</servlet-name>
        <url-pattern>/createEnter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createorg</servlet-name>
        <servlet-class>action.CreateOrgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createorg</servlet-name>
        <url-pattern>/createOrg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createrec</servlet-name>
        <servlet-class>action.CreateRecServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createrec</servlet-name>
        <url-pattern>/createRec</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exitServlet</servlet-name>
        <servlet-class>action.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exitServlet</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rigster</servlet-name>
        <servlet-class>action.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommImgLoadServlet</servlet-name>
        <servlet-class>wzy.com.CommImgLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserImgLoadServlet</servlet-name>
        <servlet-class>wzy.com.UserImgLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoLoadServlet</servlet-name>
        <servlet-class>wzy.com.VideoLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CommImgLoadServlet</servlet-name>
        <url-pattern>/servlet/CommImgLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserImgLoadServlet</servlet-name>
        <url-pattern>/servlet/UserImgLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoLoadServlet</servlet-name>
        <url-pattern>/servlet/VideoLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rigster</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usermes</servlet-name>
        <servlet-class>action.UsermesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usermes</servlet-name>
        <url-pattern>/UserMes</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>action.RegisterAction</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/Checkuid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>applynoti</servlet-name>
        <servlet-class>action.ApplyNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsExaServlet</servlet-name>
        <servlet-class>wzy.com.NewsExaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgExaServlet</servlet-name>
        <servlet-class>wzy.com.ImgExaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoExaServlet</servlet-name>
        <servlet-class>wzy.com.VideoExaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelVideoServlet</servlet-name>
        <servlet-class>wzy.com.DelVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCommImgServlet</servlet-name>
        <servlet-class>wzy.com.DelCommImgServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewsExaServlet</servlet-name>
        <url-pattern>/servlet/NewsExaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCommImgServlet</servlet-name>
        <url-pattern>/servlet/DelCommImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelVideoServlet</servlet-name>
        <url-pattern>/servlet/DelVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgExaServlet</servlet-name>
        <url-pattern>/servlet/ImgExaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoExaServlet</servlet-name>
        <url-pattern>/servlet/VideoExaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applynoti</servlet-name>
        <url-pattern>/applyNoti</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>modiperson</servlet-name>
        <servlet-class>action.ModiPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyHomePageImgServlet</servlet-name>
        <servlet-class>wzy.com.ApplyHomePageImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyHomePageVideoServlet</servlet-name>
        <servlet-class>wzy.com.ApplyHomePageVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyHomePageNewsServlet</servlet-name>
        <servlet-class>wzy.com.ApplyHomePageNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modiperson</servlet-name>
        <url-pattern>/Modiperson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyHomePageImgServlet</servlet-name>
        <url-pattern>/servlet/ApplyHomePageImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyHomePageNewsServlet</servlet-name>
        <url-pattern>/servlet/ApplyHomePageNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyHomePageVideoServlet</servlet-name>
        <url-pattern>/servlet/ApplyHomePageVideoServlet</url-pattern>
    </servlet-mapping>
</web-app>